.header-points-main .header-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 26px;
    font-weight: 600;
    padding: 0 !important;
    white-space: nowrap;

  }
  .header-points-main .header-list .header-list-item:first-child{
    list-style-type: none;
  }

  .header-list .header-list-item{
    padding-left: 8px;
  }
  .feature-header{
    font-weight: 700;
  }

  @media screen and (max-width:980px) {
    .header-points-main .header-list{
        font-size: 28px;
        column-gap: 42px;
        row-gap:10px;
        flex-wrap: wrap;
    }
  }

  @media screen and (max-width:767px) {
    .header-points-main .header-list{
        font-size: 17px;
        column-gap: 32px;
    }

    .header-points-main .header-list .header-list-item:nth-child(4) {
        list-style-type: none;
      }
  }
